################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfMasterDetails_Demo2/WpfMasterDetails_Demo2/bin/Debug/netcoreapp3.1
