################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfMasterDetails_Demo2/WpfMasterDetails_Demo2/bin/Debug/netcoreapp3.1
/WpfMasterDetail_Demo/WpfMasterDetail_Demo/bin/Debug/netcoreapp3.1
/WpfMasterDetail_Demo/WpfMasterDetail_Demo/obj/Debug/netcoreapp3.1
/WpfMasterDetail_Demo/WpfMasterDetail_Demo/obj/Release/netcoreapp3.1
